.room_wrapper {
  
  .header {
    background: #def0ff;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: center;
    border-bottom: solid 1px #00B8FF;
    color: #0085ff;
    margin-bottom: 20px;

    .back {
      position: absolute;
      font-size: 30px;
      top: 40px;
    }
  }

  .body {

    p {
      padding-left: 10px;
    }
  }

}